<div class="container">
  <div
    style="
      height: 70px;
      width: 300px;
      background-color: brown;
      border-radius: 20px;
    "
  >
    <div>
      <div [@move]="state" (@move.done)="onDone()">
        <i class="arrow right"></i>
        <i class="arrow right"></i>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div
    style="
      height: 70px;
      width: 300px;
      background-color: brown;
      border-radius: 20px;
    "
  >
    <div>
      <div [@move1]="state1" (@move1.done)="onDone1()">
        <i class="arrow right"></i>
        <i class="arrow right"></i>
      </div>
    </div>
  </div>
</div>
