<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" (click)="do1()"
        style="position: absolute; bottom: 20px; right: 20px; border-radius: 40px; background-color: aqua; color: black;">xml</button>
      <router-outlet></router-outlet>
      <!-- <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list> -->
    </div>
  </div>
</div>
<!-- 
<div class="btn-div" [@search]="state">
  <button class="custom-btn" (click)="onSearch()" [@search-btn]="state">
    X
  </button>
 
  <div *ngIf="state === 'open'" class="container" style="padding: 20px">
    <div style="width: 200px;" >
      <input type="text" class="form-control" style="border-radius: 10px;" pInputText />

    </div>
  </div>
</div>

<div>
  <h4>{{ state }}</h4>
</div> -->
